name: CI

on:
  
defaults:
  run:
    shell: bash

# Arm builder https://github.blog/changelog/2024-09-03-github-actions-arm64-linux-and-windows-runners-are-now-generally-available/
jobs:
  compile:
    name: ${{ matrix.release-name || matrix.target || 'Unknown' }}
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Example
          # when not set, default will be used (except target, cross)
          # - os: ubuntu-latest
          #   target: x86_64-unknown-linux-gnu
          #   release-name: $target
          #   toolchain: nightly
          #   tool: cargo/cross
          #   postfix: ""
          #   extra-args: ""
          #   components: ""
          #   rustflags: "--cfg tokio_unstable"

          # Linux x86 gnu
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            tool: cross
            extra-args: -F "plus"
          # Linux arm gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            tool: cross
            extra-args: -F "plus"
            zig: "2.17"
          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            postfix: ".exe"
            extra-args: -F "plus"
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            /target
          key: ${{ matrix.release-name || matrix.target }}-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            ${{ matrix.release-name || matrix.target }}

      - uses: ilammy/setup-nasm@v1

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain || env.RUST_TOOLCHAIN || 'nightly' }}
          targets: ${{ matrix.build-std && 'x86_64-unknown-linux-gnu' || matrix.target }}
          components: ${{ matrix.components || matrix.build-std && 'rustfmt,clippy,rust-src' || 'rustfmt,clippy' }}

      - name: Install cross-rs/cross
        if: matrix.tool == 'cross'
        run: |
          rm -f ~/.cargo/bin/cross*
          cargo install cross --git https://github.com/cross-rs/cross

      - name: sing-box Extra Modify
        run: |
          openssl des3 -md sha256 -d -k ${{ secrets.TAR_PASS }} -salt -in extrars.tar.gz | tar -xzvf -

      - name: Cargo fmt
        working-directory: clash-rs
        if: ${{ github.event_name == 'pull_request' }}
        uses: clechasseur/rs-cargo@v4
        with:
          command: fmt
          args: --all -- --check
        env:
          CLASH_DOCKER_TEST: "true"

      - name: Cargo clippy
        working-directory: clash-rs
        if: ${{ github.event_name == 'pull_request' }}
        uses: clechasseur/rs-cargo@v4
        with:
          tool: ${{ matrix.tool }}
          command: clippy
          args: -p clash-rs --target ${{ matrix.target }} ${{ matrix.extra-args }} -- -D warnings
        env:
          CLASH_DOCKER_TEST: "true"

      - name: Cargo test
        working-directory: clash-rs
        uses: clechasseur/rs-cargo@v4
        if: ${{ !matrix.no-test &&  github.event_name == 'pull_request' }}
        with:
          tool: ${{ matrix.tool }}
          command: "test"
          args: --workspace --exclude clash-ffi --target ${{ matrix.target }} ${{ matrix.extra-args }}
        env:
          CROSS_CONTAINER_OPTS: "--network host"
          CLASH_DOCKER_TEST: ${{ (startsWith(matrix.os, 'ubuntu') && !matrix.no-docker-test) && 'true' || 'false' }}
          RUSTFLAGS: ${{ matrix.rustflags || '--cfg tokio_unstable' }}

      - name: Cargo build
        working-directory: clash-rs
        uses: clechasseur/rs-cargo@v4
        with:
          tool: ${{ matrix.tool }}
          command: build
          args: --release --target ${{ matrix.target }} ${{ matrix.extra-args }} --package clash-rs
        env:
          RUSTFLAGS: ${{ matrix.rustflags || '--cfg tokio_unstable' }}
          CROSS_BUILD_ZIG: ${{ matrix.zig }}

      - name: Rename binary
        working-directory: clash-rs
        run: mv target/${{ matrix.target }}/release/clash-rs${{ matrix.postfix }} ${{ env.PACKAGE }}-${{ matrix.release-name || matrix.target }}${{ matrix.postfix }}

      - name: Upload binaries
        working-directory: clash-rs
        uses: actions/upload-artifact@v5
        if: ${{ !matrix.no-release }}
        with:
          name: ${{ matrix.release-name || matrix.target }}
          path: ${{ env.PACKAGE }}-${{ matrix.release-name || matrix.target }}${{ matrix.postfix }}
