name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    permissions: write-all
    

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly

    - name: extra Modify
      run: |
          openssl des3 -md sha256 -d -k ${{ secrets.TAR_PASS }} -salt -in extrars.tar.gz | tar -xzvf -
    
    - name: Build x86_64-unknown-linux-gnu
      working-directory: clash-rs
      run: |
            rustup target add x86_64-unknown-linux-gnu
            cargo build -r --target x86_64-unknown-linux-gnu
      
    - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: clash-linux-x86
          path: clash-rs/target/release/clash-rs
